[Unit]
Description=Set root user privilege to priv-admin on first boot
After=xyz.openbmc_project.User.Manager.service
Requires=xyz.openbmc_project.User.Manager.service
ConditionPathExists=!/var/lib/first-boot-set-priv.done

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/first-boot-set-priv.sh
ExecStartPost=/bin/touch /var/lib/first-boot-set-priv.done

[Install]
WantedBy=multi-user.target
